body { font-family: verdana; font-size: 12px; }

/* === Popup === */

.settings {
    max-width: 750px;
}

.settings .popup-title {
    text-align: center;
    margin: 5px 0;
}
.settings .popup-title {
    margin-bottom: 15px;
}

.settings-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.settings-list .feature {
    margin: 0 0 10px;
    padding: 10px;
    background-color: #cec;
    border: solid 2px #7b7;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    transition: all 0.2s ease-in-out;
}
.settings-list .feature-disabled {
    background-color: #eee;
    border: solid 2px #999;
    opacity: 0.6;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.15);
    transform: scale(0.99);
}

.settings-list .feature-name {
    color: #307699;
}

.settings-list .feature-service {
    color: #6096a9;
    font-size: 12px;
}

.settings-list .title {
    margin-top: 0;
    white-space: nowrap;
}

.settings-list .note {
    color: #777;
    font-style: italic;
}
